.nav-wrapper {
  background-color: #2196f3;
}

.container {
  width: 100%;
  height: 400px;
  background-color: none;
  display: block;
  max-width: 100%;
  position: relative;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px 10px;
  margin-top: 5px;
  margin-bottom: 25px;
  margin-left: 5px;
}

  @media only screen and (min-width: 200px){
.row .col.s12  {
  height: auto;

}}
  @media only screen and (min-width: 601px){
.row .col.m6 {
    width: inherit;
    height: auto;
    margin-left: auto;
    left: auto;
    right: auto;

}}



.location {
  grid-column: 2 / span 8;
  grid-row: 1 / span 2;
}

.search1 {
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
}

.collection {
  font-size: 25px;
  color: aliceblue;
  margin-top: 75px;
}

#input {
  margin-left: 10px;
}

#cityLocation {
  color: aliceblue;
  font-size: 75px;
}

#weather {
  color: white;
  padding: 50px;
  margin-bottom: 30px;
  border: groove;
  width: inherit;
}

.container1 {
  width: 100%;
  height: 200px;
  column-gap: 10px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 300px;
  overflow: hidden;
}

/* .container1>div {
  background-color: #2196f3;
} */

.collection a.collection-item {
  color: black;
}

.collection .collection-item {
  background-color: #fff;
  line-height: 1.5rem;
  padding: 10px 20px;
  margin: 0;
  border-bottom: 1px solid #bdbdbd;
}

#search {
  background-color: #2196f3;
}

.waves-effect {
  position: absolute;
  margin-top: 8px;
}

header {
  font-size: 30px;
}

/* .row .col.s12 {
  width: 25%;
  margin-left: auto;
  left: auto;
  right: auto;
  height: auto;
} */
